<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Link a hojas de estilos -->
    <link rel="stylesheet"  href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
    
   <!-- Insetar esta linea antes de los scrips imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<!-- Bootstrap Optional JavaScript -->
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/popper.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
	<!-- Insetar esta linea despues de los  imports -->
	<script>if (window.module) module = window.module;</script>
  </head>
  
  <body>
    <form>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" id="name_iot" required>
        </div>
        <div class="form-group">
            <label for="">Topic</label>
            <input type="text" class="form-control" id="topic_iot"  required>
        </div>
        <div class="form-group">
            <label for="">PayloadOn</label>
            <input type="text" class="form-control" id="payload_iotOn"  required>
        </div>
        <div class="form-group">
            <label for="">PayloadOff</label>
            <input type="text" class="form-control" id="payload_iotOff"  required>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" id="save_data" value="Guardar">
            <input type="submit" class="form-control" id="close_add"   value="Cerrar">
        </div>

      </form>
  </body>
  <script src="add.js"></script>
  </html>
