<!DOCTYPE html>
<html lang="es">
<head>
	<title>MargaretAPP</title>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Link a hojas de estilos -->
	<link rel="stylesheet"  href="../bootstrap-4.5.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../style/chat_estilo.css">

	<!-- Insetar esta linea antes de los scrips imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<!-- Bootstrap Optional JavaScript -->
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/popper.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
	<!-- Insetar esta linea despues de los  imports -->
	<script>if (window.module) module = window.module;</script>

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <!-- Brand/logo -->
  <a class="navbar-brand" href="">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="helios.html">Helios</a>
    </li>
    
  </ul>
</nav>

		

		<div class="container">

			<div class="row">
				<div class="col-lg-2">
					<img id="logo" src="../img/icon2.png" class="img-responsive" width="100px" height="100px"/>
			</div>
			<div class="col-lg-10">
				<h1>Margaret Helios</h1>
				<p>Asistente virtual</p>
			</div>
			</div>
  
    </div>

		</div>

	</header>
	<br>
	<div class="container">
		<section class="main row">
		<article class="col-lg-7">
			<div class="chat_window ">
	    <div class="top_menu">
	       
	        <div class="title">Chat</div>
	    </div>
	    <ul class="messages"></ul>
	    <div class="bottom_wrapper clearfix">
	        <div class="message_input_wrapper">
	            <input class="message_input" placeholder="Escribe tu mensaje aquí..." />
	        </div>
	        <div class="send_message">
	            <div class="icon"></div>
	            <div class="text" id="prueba">Enviar</div>
	        </div>
	    </div>
	</div>
	<div class="message_template">
	    <li class="message">
	        <div class="avatar"></div>
	        <div class="text_wrapper">
	            <div class="text"></div>
	        </div>
	    </li>
	</div>
			
		</article>

		<aside class="col-lg-5">
			<img id="video" src="../img/gif_margaret.gif" class="img-responsive rounded" width="500px" height="500px"/>
    </aside>
	    </section>

	   
	</div>
	

</body>

<!-- Script del funcionamiento de pagina y comunacion con python -->
<script type="text/javascript" src="../chat_function.js"></script>
</html>