/* #e3eed7 #d8e7c*/
/* https://bootswatch.com/4/cerulean/bootstrap.min.css */
/* CSS Document */

/*Reinicio de todos los parametros que trae por defecto el html */
*{
    margin:0;
    padding: 0;
}
/*Letra pixelada*/
@font-face{
    font-family: pixelText;
    src: url(04B_20.TTF);
}

body {

    color: #222;
    text-align:center;
    padding:35px; 
}

header{
    font:12px pixelText;
}

header #wrapper{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    
}
    
header nav{
    background: #528FD5;
    overflow: hidden;
    margin-bottom: 20px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    background: #75ACEC;
}

  
form, p, span {
    margin:0;
    padding:0; }

aside{
    width: 30%;
    float: left;
    white-space: nowrap;
    
    
}

#wrapper{
    width: 68.5%;
    margin-right:1.5% ;
    float: left;
    
}
  
input { font:10px ; }
  
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#e3eed7;
    height:270px;
    width:430px;
    border:1px solid rgb(182, 219, 192);
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
  
#menu { padding:12.5px 25px 12.5px 25px; }
  

.msgln { margin:0 0 2px 0; }

